
  .message {
    text-transform: uppercase;
    padding: 15px 40px;
    position: fixed;
    font-size: 18px;
    bottom: 20px;
    left: 35px;
    background-color: #5540cd;
    border-radius: 3px;
    color: #fff;
    animation: slidein 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  
  @keyframes slidein {
    0% {
      transform: translateX(-50px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .message::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 5px;
    background-color:#FFF;
    animation: time 3s forwards;
  }
  @keyframes time {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }