.font-lilac {
  color: #AA9CFF !important;
}

.border-color-phrases {
  display: flex;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  width: 5px;
  height: 28px;
  margin-left: -10px;
}

.border-color-phrases.is-low {
  background-color: #45c4b0;
}

.border-color-phrases.is-medium {
  background-color: #bdb160;
}

.border-color-phrases.is-high {
  background-color: #d04a4a;
}
.title {
  color: #fff;
  width: 680px;
}

.fa-circle-minus,
.fa-chart-column {
  font-family: sans-serif;
  width: 20px;
  cursor: pointer;
}

.filter {
  font-size: 20px;
  display: flex;
  align-items: center;
  color: #FFF;
  margin-bottom: 20px;
  cursor: pointer;
}

.filter > i {
  margin-left: 10px;
}

#close-filter {
  display: none;
}

.container-search-filter {
  display: none;
}

.input-wrapper {
  position: relative;
}

#filter-input {
  width: 635px;
  padding: 1rem 2rem;
  border-radius: 2px;
  background-color: #fff;
  border: 0;
  color: #000;
  cursor: pointer;
  font-size: 1.6rem;
}

.input-wrapper i {
  position: absolute;
  right: 1.2rem;
  bottom: 1.2rem;
  word-break: break-word;
}

.fa-magnifying-glass {
  display: flex;
  font-size: 22px;
  background-color: #fff;
}

button.dark {
  background-color: #21262d;
}

.applyAndFilter {
  width: 700px;
  height: 50px;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 3rem;
  cursor: pointer;
  background-color: #6e60bd;
  color: #fff;
  border: none;
  margin-top: 2rem;
}

#btn-practice > a{
  text-decoration: none;
  color: #fff;
}

#btn-practice.dark{
  background-color: #21262d;
}

.my-custom-text-class {
  color: #000;
}

.paragraph {
  margin-bottom: 20px;
}

span {
  width: 700px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
}

ul,
li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  width: 780px;
  margin-left: 0.8rem;
  position: relative;
}

.phrases {
  display: flex;
  color: #fff;
  display: flex;
  text-align: center;
  align-items: center;
  margin-left: 2rem;
  width: 650px;
  justify-content: space-between;
  word-break: break-word;
}

label {
  font-size: 20px;
  color: #fff;
}

h3 {
  display: none;
}

input[type="radio"] {
  appearance: none;
  background-color: #fff;
  border: 2px solid #fff;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
}

input[type="radio"]:checked {
  background: #6E60BD;
}

.container-select {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  align-items: flex-start
}

select {
  display: flex;
  height: 50px;
  padding: 0px 30px;
  background-color: #6E60BD;
  color: #fff;
  border: none;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 13rem;
  appearance: none;
  cursor: pointer;
  font-size: 22px;
  font-weight: 900;
}

option {
  background-color: #fff;
  color: #000;
}

.prev-button {
  margin-top: 3rem;
  margin-left: 10px;
  padding: 0px 10px;
}

.next-button {
  margin-top: 3rem;
  margin-right: 10px;
  padding: 0px 10px;
}

.prev-button,
.next-button {
  display: flex;
  height: 50px;
  font-size: 32px;
  font-weight: 900;
  border: none;
  cursor: pointer;
  background-color: #6E60BD;
  color: #fff;
}

@media screen and (max-width: 810px) {
  span {
    width: 510px;
  }
  .title{
    width: 510px;
  }
  #filter-input {
    width: 440px;
  }
  ul , li{
    width: 570px;
  }
  .applyAndFilter , #btn-practice  {
    width: 510px;
  }
  #search-input {
    width: 460px;
  }
  .phrases {
    width: 440px;
  }
  #returnPhrases {
    width: 460px;
    display: none;
  }
}

@media screen and (max-width: 640px) {
  span {
    width: 390px;
  }
  .title{
    width: 400px;
    font-size: 26px;
  }
  #filter-input {
    width: 320px;
    height: 20px;
  }
  .input-wrapper i {
    bottom: 14px;
  }
  .applyAndFilter , #btn-practice {
    width: 390px;
  }

  #search-input {
    width: 260px;
  }
  ul , li{
    width: 500px;
  }
  .phrases {
    width: 340px;
  }
  #returnPhrases {
    width: 260px;
    display: none;
  }
  select{
    height: 35px;
    font-size: 20px;
    padding: 0px 20px;
  }
  .prev-button , .next-button{
    height: 35px;
    font-size: 22px;
  } 
}

@media screen and (max-width: 550px) {
  span {
    width: 260px;
  }
  .title{
    width: 380px;
  }
  #filter-input {
    width: 270px;
    font-size: 18px;
  }
  input[type="radio"]:checked {
    font-size: 18px;
  }
  label{
    font-size: 18px;
  }
  .filter{
    width: 340px;
  }
  .applyAndFilter , #btn-practice  {
    width: 340px;
  }
  #search-input {
    width: 270px;
  }
  ul , li{
    width: 400px;
  }
  .phrases {
    width: 280px;
  }
  #returnPhrases {
    display: none;
    width: 150px;
  }
}

@media screen and (max-width: 465px) {
  span {
    width: 200px;
  }
  .title{
    width: 320px;
  }
  #filter-input {
    width: 250px;
  }
  .filter{
    width: 320px;
  }
  .applyAndFilter , #btn-practice {
    width: 320px;
  }
  #search-input {
    width: 270px;
  }
  ul , li{
    width: 370px;
  }
  .phrases {
    width: 258px;
    font-size: 16px;
  }
  select{
    height: 30px;
    font-size: 18px;
    padding: 0px 10px;
  }
  .prev-button , .next-button{
    height: 30px;
    font-size: 18px;
  } 
  #returnPhrases {
    display: none;
    width: 150px;
  }
  @media screen and (max-width: 425px) {
    span {
      width: 200px;
    }
    .title{
      width: 290px;
    }
    #filter-input {
      width: 230px;
    }
    .filter{
      width: 300px;
    }
    .applyAndFilter , #btn-practice  {
      width: 300px;
    }
    #search-input {
      width: 270px;
    }
    ul , li{
      width: 345px;
    }
    .phrases {
      width: 218px;
      margin-right: 10px;
      font-size: 14px;
    }
    select{
      height: 30px;
      font-size: 18px;
      padding: 0px 10px;
    }
    .prev-button , .next-button{
      height: 30px;
      font-size: 18px;
    } 
    #returnPhrases {
      display: none;
      width: 150px;
    }
}

@media screen and (max-width: 398px) {
  span {
    width: 200px;
  }
  .title{
    width: 270px;
  }
  #filter-input {
    width: 200px;
  }
  .filter{
    width: 270px;
  }
  .applyAndFilter , #btn-practice {
    width: 270px;
  }
  ul , li{
    width: 320px;
  }
  .phrases {
    width: 198px;
    margin-right: 10px;
    font-size: 14px;
  }
  select{
    height: 30px;
    font-size: 18px;
    padding: 0px 10px;
  }
  .prev-button , .next-button{
    height: 30px;
    font-size: 18px;
  } 
  #returnPhrases {
    display: none;
    width: 150px;
  }
}
}