body {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'inter';
}

.font-lilac{
  color: #AA9CFF !important;
}

.border-color-phrases {
  position: absolute;
  display: flex;
  width: 3px;
  height: 24px;
  background-color: greenyellow;
}

.title {
  width: 680px;
}

span {
  width: 700px;
  margin-bottom: 10px;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
}

ul,
li {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container-list-phrases {
  position: relative;
  display: inline;
  color: #fff;
  font-size: 20px;
  margin-bottom: 200px;
  margin-right: 20px;
}

.phrases {
  color: #fff;
  display: flex;
  width: 500px; 
  justify-content: space-between;
  word-break: break-word;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 40px;
}

.fa-ellipsis-vertical{
  width: 30px;
  padding: 8px;
  border-radius: 100px;
  text-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.055);
  font-size: 22px;
  color: #fff;
  cursor: pointer;
}

.fa-ellipsis-vertical:hover{
  background-color: rgba(0, 0, 0, 0.160);
  transition: .10s ease-in-out;
}

.btnDeleteEditByPhrase{
  background: none;
  padding: 8px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
.btnDeleteEditByPhrase:hover{
  background-color: rgba(0, 0, 0, 0.160);
  border-bottom: 1px solid #00000072;

}
.fa-circle-minus , .fa-chart-column{
  font-family: sans-serif;
  width: 20px;
  cursor: pointer;
}

.container-search-filter {
  display: none;
}

.input-wrapper {
  position: relative;
}

#filter-input {
  width: 650px;
  padding: 1rem 1.6rem;
  border-radius: 2px;
  background-color: #fff;
  border: 0;
  color: #12074d;
  font-size: 1.6rem;
}

.input-wrapper i {
  position: absolute;
  right: 1.2rem;
  bottom: 1.2rem;
}

#icons-filter {
  font-size: 1.4rem;
  color: #49407d;
  border-radius: 50%;
  padding: 0.1rem;
}

#applyAndFilter {
  width: 700px;
  height: 50px;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 3rem;
  background-color: #6e60bd;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 2rem;
}
.my-custom-text-class{
  color: #000;
}

input[type="radio"]{
  appearance: none;
  background-color: #fff;
  border: 2px solid #fff;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
}
input[type="radio"]:checked{
  background: #6E60BD
}


@media screen and (max-width: 800px) {

  span{
    width: 530px;
  }
  #filter-input{
    width: 480px;
  }
  #applyAndFilter{
    width: 530px;
  }
  #search-input {
    width: 480px;
  }

  .phrases{
   width: 300px;
  }
}


@media screen and (max-width: 690px) {

  span{
    width: 470px;
  }
  #filter-input{
    width: 420px;
    font-size: 20px;
  }
  .title{
    font-size: 26px;
    width: 470px;
  }
  #applyAndFilter{
    width: 470px;
  }
  #search-input {
    width: 400px;
  }
  .phrases{
   width: 260px;
  }
}

@media screen and (max-width: 590px) {

  span{
    width: 430px;
  }
  #filter-input{
    width: 380px;
  }
  .title{
    font-size: 24px;
    width: 440px;
  }
  #applyAndFilter{
    width: 440px;
  }
  #search-input {
    width: 400px;
  }
  .phrases{
   width: 260px;
  }
}

@media screen and (max-width: 516px) {

  span{
    width: 370px;
  }
  #filter-input{
    width: 320px;
    font-size: 20px;
  }
  .title{
    width: 380px;
  }
  #applyAndFilter{
    width: 370px;
  }
  #search-input {
    width: 400px;
  }
  .phrases{
   width: 200px;
  }
}

@media screen and (max-width: 420px) {

  span{
    width: 320px;
  }
  #filter-input{
    width: 260px;
    font-size: 18px;
  }
  .title{
    width: 320px;
  }
  #applyAndFilter{
    width: 320px;
  }
  #search-input {
    width: 300px;
  }
  .phrases{
   width: 180px;
  }
}

@media screen and (max-width: 350px) {

  span{
    width: 280px;
  }
  #filter-input{
    width: 220px;
    font-size: 18px;
  }
  .title{
    width: 280px;
  }
  #applyAndFilter{
    width: 280px;
  }
  #search-input {
    width: 260px;
  }
  .phrases{
   width: 160px;
  }
}

