
.fa-ellipsis-vertical{
  margin-right: 46px;
  width: 10px;
  padding: 8px;
  text-align: center;
  align-items: center;
  font-size: 22px;
  color: #fff;
  cursor: pointer;
}

.task .settings {
  position: fixed;
  display: flex;
}

.btnDeleteByPhrase{
  display: flex;
  align-items: baseline;
  margin-right: -0px;
  margin-left: -22px;
  background: none;
  border: none;
  font-size: 16px;
}
.btnEditByPhrase{
  display: flex;
  align-items: baseline;
  margin-right: -0px;
  margin-left: -65px;
  background: none;
  border: none;
  font-size: 16px;
}

.btnDeleteByPhrase:hover,
.btnEditByPhrase:hover{
  background-color: rgba(0, 0, 0, 0.160);
  border-bottom: 1px solid #00000072;
  cursor: pointer;
}

.task-menu {
  position: absolute;
  background: #fff;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.144);
  width: 160px;
  top: 2.5rem;
  right: 6rem;
  height: 95px;
  transform: scale(0);
  transform-origin: top right;
  transition: transform 0.2s ease;
  z-index: 2;
}

.settings .task-menu.show {
    transform: scale(1);
}

#showModal {
  display: flex;
  cursor: pointer;
  font-size: 24px;
  color: #fff;
}

#deletePhrase,
#editPhrase,
#changeOwner {
  margin-bottom: 10px;
  display: inline;
  cursor: pointer;
  font-size: 15px;
  color: #12074d;
}

#deletePhrase:hover,
#editPhrase:hover,
#changeOwner:hover {
    border-bottom: 2px solid #000;
}

#deletePhrase:hover,
#editPhrase:hover,
#changeOwner:hover {
  border-bottom: 2px solid #000;
}

@media screen and (max-width: 810px) {
  .task-menu {
    width: 120px;
    height: 75px;
  }

  #showModal {
    font-size: 18px;
  }

  #deletePhrase,
  #editPhrase,
  #changeOwner {
    font-size: 12px;
  }

  .btnDeleteByPhrase,
  .btnEditByPhrase{
    font-size: 12px;
    margin-right: -0px;
  }
  .btnEditByPhrase{
    margin-left: -55px;  
  }

}

@media screen and (max-width: 780px) {
    .settings {
      max-width: 480px;
    }

    .btnDeleteByPhrase,
    .btnEditByPhrase{
      font-size: 12px;
      margin-right: -0px;
    }
    .btnEditByPhrase{
      margin-left: -55px;  
    }
}

@media screen and (max-width: 480px) {
  .task-menu {
    width: 100px;
    height: 65px;
    right: 5rem;
  }

  #showModal {
    font-size: 16px;
  }

  #deletePhrase,
  #editPhrase,
  #changeOwner {
    font-size: 10px;
  }

  .btnDeleteByPhrase,
  .btnEditByPhrase{
    font-size: 12px;
    margin-right: -0px;
  }
  .btnEditByPhrase{
    margin-left: -55px;  
  }
}

@media screen and (max-width: 370px) {
  .task .settings {
    flex-direction: column;
    align-items: flex-end;
  }

  .task-menu {
    right: 0;
  }

  .btnDeleteByPhrase,
  .btnEditByPhrase{
    font-size: 12px;
    margin-right: -0px;
  }
  .btnEditByPhrase{
    margin-left: -55px;  
  }
}
/* modal de delete */

.container-modal{
  width: 500px;
  height: 300px;
  display: flex;
  position: fixed;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 999;
}

.modal{
  display: flex;
  flex-direction: column;
  background: #ededed;
  padding: 30px;
  border-radius: 8px;
  width: 100%;

}
.active{
  display: flex;
}

.active , .modal{
    animation: modal .4s;
}

.titleDelete{
    margin-top: 30px;
}

.titleDelete , .btns{
    width: 100%;
    text-align: center;
    color: #000;
}

.btnOk , .btnClose{
    padding: 12px 8px;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    font-size: 18px;
    border: none;
    background-color: #5540cd;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

.btnOk:hover{
    background-color: red;
    color: #fff;
}

.btnClose:hover{
    background-color: green;
    color: #fff;
}


.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.63);
  z-index: 2;
  display: none;
}

@media screen and (max-width: 690px) {
  .container-modal{
      width: 400px;
  }
}
@media screen and (max-width: 580px) {
  .container-modal{
      width: 350px;
  }
}

@media screen and (max-width: 480px) {
  .container-modal{
      width: 300px;
  }
}

@media screen and (max-width: 380px) {
  .container-modal{
      width: 250px;
  }
}

.container-modal-edit {
  width: 550px;
  height: 400px;
  display: flex;
  position: fixed;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  margin: 30px auto;
}

.modal-edit{
  display: flex;
  flex-direction: column;
  background: #ededed;
  padding: 30px;
  border-radius: 8px;
}


.title-edit{
  color: #000;
  width: 100%;
  font-size: 30px;
}
.input-edit{
  margin-top: 20px;
  border-radius: 8px;
  border: none;
  border: 1px solid #000;
  height: 50px;
  padding-left: 10px;
  font-size: 22px;
  margin-bottom: 25px;
}

.edit-btn-confirm{
  margin-top: 25px;
  width: 100%;
  height: 50px;
  border: none;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  background-color: #5540cd;
}

input[type="radio"]{
  appearance: none;
  background-color: #fff;
  border: 2px solid #fff;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
}
input[type="radio"]:checked{
  background: #6E60BD
}

#radioOne , #radioTwo , #radioThree{
    color: #000;
    font-size: 20px;
}

.edit-btn-confirm:hover{
    background-color: green;
    color: #fff;
}

.active-edit{
    display: block;
}
.active-edit , .modal-edit{
    animation: modal .4s;
}

.close-container{
    width: 100%;
    margin-top: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 18px;
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    color: #fff;
    background-color: red;
    padding: 14px;
}  

  
  @media screen and (max-width: 690px) {
    .container-modal-edit{
        width: 400px;
    }
  }
  @media screen and (max-width: 525px) {
    .container-modal-edit{
        width: 350px;
    }
  }
  
  @media screen and (max-width: 452px) {
  
    .container-modal-edit{
        width: 300px;
    }
    .input-edit{
        font-size: 14px;
    }
    #radioOne , #radioTwo , #radioThree{
        font-size: 16px;
    }

    input[type="radio"]{
        padding: 0.4rem;
    
    }
}
@media screen and (max-width: 395px) {
  
  .container-modal-edit{
      width: 250px;
      align-items: center;
  }
  .input-edit{
      font-size: 14px;

  }
  #radioOne , #radioTwo , #radioThree{
      font-size: 16px;
  }

  input[type="radio"]{
      padding: 0.4rem;
  
  }
}
