.task .settings {
    position: fixed;
    display: flex;
}

.task-menu {
    position: absolute;
    background: #fff;
    padding: 10px 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.144);
    width: 160px;
    right: 3rem;
    height: 95px;
    transform: scale(0);
    transform-origin: top right;
    transition: transform 0.2s ease;
    z-index: 2;
}

.settings .task-menu.show {
    transform: scale(1);
}

#showModal {
    display: flex;
    cursor: pointer;
    font-size: 22px;
    color: #fff;
}

#deletePhrase,
#editPhrase,
#changeOwner {
    margin-bottom: 10px;
    display: inline;
    cursor: pointer;
    font-size: 15px;
    color: #12074d;
}

#deletePhrase:hover,
#editPhrase:hover,
#changeOwner:hover {
    border-bottom: 2px solid #000;
}

#deletePhrase:hover,
#editPhrase:hover,
#changeOwner:hover {
  border-bottom: 2px solid #000;
}

@media screen and (max-width: 768px) {
  .task-menu {
    width: 120px;
    height: 75px;
  }

  #showModal {
    font-size: 18px;
  }

  #deletePhrase,
  #editPhrase,
  #changeOwner {
    font-size: 12px;
  }
}
@media screen and (max-width: 780px) {
    .settings {
      max-width: 480px;
    }
}
@media screen and (max-width: 480px) {
  .task-menu {
    width: 100px;
    height: 65px;
     right: 0;
  }

  #showModal {
    font-size: 16px;
  }

  #deletePhrase,
  #editPhrase,
  #changeOwner {
    font-size: 10px;
  }
  
}

@media screen and (max-width: 370px) {
  .task .settings {
    flex-direction: column;
    align-items: flex-end;
  }

  .task-menu {
    right: 0;
  }
}
/* modal de delete */

.container-modal{
    width: 1300px;
    height: 300px;
    position: fixed;
    top: 200px;
    z-index: 999;
    justify-content: center;
    display: none;
}

.modal{
    display: flex;
    flex-direction: column;
    background: #ededed;
    padding: 30px;
    border-radius: 10px;
}

.active{
    display: flex;
}

.active , .modal{
    animation: modal .4s;
}
.titleDelete{
    margin-top: 30px;
}

.titleDelete , .btns{
    text-align: center;
    color: #000;
}

.btnOk , .btnClose{
    padding: 12px 8px;
    width: 100%;
    height: 50px;
    margin: 10px;
    font-size: 18px;
    border: none;
    background-color: #5540cd;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

.btnOk:hover{
    background-color: red;
    color: #fff;
}

.btnClose:hover{
    background-color: green;
    color: #fff;
}

/* modal editar frases */

.container-modal-edit{
    width: 1300px;
    height: 400px;
    display: flex;
    position: fixed;
    display: none;
    top: 120px;
    z-index: 999;
    justify-content: center;
}

.modal-edit{
    display: flex;
    flex-direction: column;
    background: #ededed;
    padding: 30px;
    border-radius: 8px;
    width: 50%;
}

.title-edit{
    color: #000;
    width: 100%;
    font-size: 30px;
}
.input-edit{
    margin-top: 20px;
    border-radius: 8px;
    border: none;
    border: 1px solid #000;
    height: 50px;
    padding-left: 10px;
    font-size: 22px;
    margin-bottom: 25px;
}

.edit-btn-confirm{
    margin-top: 25px;
    width: 100%;
    height: 50px;
    border: none;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
    background-color: #5540cd;
}

input[type="radio"]{
    appearance: none;
    background-color: #fff;
    border: 2px solid #05050597;
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
}
input[type="radio"]:checked{
    background: #6E60BD
}



#radioOne , #radioTwo , #radioThree{
    color: #000;
    font-size: 20px;
}

.edit-btn-confirm:hover{
    background-color: green;
    color: #fff;
}

.active-edit{
    display: flex;
}
.active-edit , .modal-edit{
    animation: modal .4s;
}

.close-container{
    width: 100%;
    margin-top: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 18px;
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    color: #fff;
    background-color: red;
    padding: 14px;
}  

@media screen and (max-width: 800px) {
    .container-modal-edit{
        width: 1100px;
    }
    .container-modal{
        width: 900px;
      }

  }
  
  
  @media screen and (max-width: 690px) {
    .container-modal-edit{
        width: 900px;
    }
    .container-modal{
        width: 700px;
      }

  }
  
  @media screen and (max-width: 590px) {
    .container-modal-edit{
        width: 700px;
        height: 370px;
        padding: 8px;
    }
    .input-edit{
        font-size: 16px;

    }
    .container-modal{
        width: 500px;
      }

  }
  
  @media screen and (max-width: 432px) {
  
    .container-modal-edit{
        width: 400px;
        height: 370px;
        padding: 8px;
    }
    .input-edit{
        font-size: 14px;

    }
    #radioOne , #radioTwo , #radioThree{
        font-size: 16px;
    }

    input[type="radio"]{
        padding: 0.4rem;
    
    }
}
 