@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
* {
  margin: 0;
  font-family: inter;
}

.title {
  text-align: center;
  margin: 50px 0 30px 0;
  font-size: 40px;
}

.btn {
  height: 50px;
  width: 600px;
  border: solid 2px black;
  background-color: #d9d9d9;
  font-size: x-large;
}

.aLink {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}