#containerImg {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  display: none;
}

strong {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 730px;
  text-align: center;
  font-size: 22px;
  color: #fff;
  opacity: 0.6;
}

img {
  max-width: 400px;
  opacity: 0.4;
  margin-bottom: 20px;
}

.container-return {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px !important;
  z-index: 1;
}

.back-sentences {
  width: 300px;
  height: 50px;
  font-weight: 600;
  font-family: sans-serif;
  cursor: pointer;
  font-size: 22px;
  background-color: #6e60bd;
  color: #fff;
  border: none;
  margin-bottom: 2rem;
  margin-top: 2rem;
  display: none;
}

@media (max-width: 800px) {

  .container-return {
      width: 100% !important;
      max-width: 400px;
    }
    .back-sentences{
      width: 200px;
    }
  }
  @media (max-width: 660px) {

    .container-return {
      width: 100% !important;
      max-width: 400px;
    }
    .back-sentences{
      width: 200px; 
    }
  }
  
  @media (max-width: 450px) {
  
  img {
    max-width: 320px;
    }
  }

  @media (max-width: 640px) {

  
    img {
    max-width: 320px;
    }
    } 
  strong {
    font-size: 20px;
    width: 100%;
    }
  
  @media (max-width: 450px) {

  img {
      max-width: 320px;
    }
  }