body {
  margin: 0;
  font-family: 'inter';
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.63);
  color: #fff;
  z-index: 2;
}

.centralize {
  text-align: center;
  align-items: center;
  justify-content: center;
}

button.dark , .linkHomePhrases.dark{
  background-color: #21262d;
}

label{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 900;
  padding: 20px 50px 20px 50px; 
}

.container-modal{
  width: 400px;
  height: 250px;
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: none;
  z-index: 999;
}

.modal{
  display: flex;
  flex-direction: column;
  background: #ededed;
  padding: 30px;
  border-radius: 8px;
  width: 100%;

}
.modal-phrase-motivation{
  font-size: 26px;
  font-weight: 900;
  text-align: center;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.63);
  z-index: 2;
  display: none;
}


#container-item-links{
  margin-top: 10px;
  display: flex;
  margin-bottom: 4px;
}
.menu__item{
  font-size: 26px;
}

i{
  color: #fff;
}

.title{
    margin-top: 40px;
    margin-bottom: 20px;
    color: #fff;
}
li{
  margin-top: 10px;
  border-radius: 10px;
  padding: 10px;
  border-left: 6px solid #d04a4a;
  box-shadow: 0 4px 2px 0px rgba(0, 0, 0, 0.63);
  background-color:#d04a4a22;
  border-bottom: 1px solid #ffffff92;

}

  #phrasesStayHere{
    align-items: flex-start;
    font-size: 18px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 700px;
    word-break: break-word;
    color: #fff;
  }

  .img-people{
    width: 400px;
    opacity: 0.6;
  }
  button , a{
    width: 700px;
    height: 50px;
    text-decoration: none;
    font-size: 22px;
    cursor: pointer;
    font-weight: 900;
    list-style: none;
    color: #fff;
    border: none;
}
  
  .blackText {
    width: 150px;
    font-size: 20px;
    color:#fff;
  }
  
  .purpleText {
    width: 700px;
    color: #8000ff;
    font-style: italic;
    font-size: 20px;
    list-style: none;
    margin-top: 20px;
  }
  
  .purpleText2 {
    width: 700px;
    color: #8000ff;
    font-style: italic;
    font-size: 20px;
    margin-bottom: 20px;
}
  
  .repeatPhrase {
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 20px;
    color: #fff;
  }
  
  .paragraph {
    font-size: 20px;
  }

  .linkHomePhrases{
    margin-bottom: 100px;
    background-color: #6e60bd;
    border: none;
  }
  
  .btnPhrasesMotivation{
    background-color: #d04a4a;   
    margin-bottom: 50px;
  }

  .otherPhrases {
    margin-top: 20px;
    background-color: #6e60bd;
    margin-bottom: 50px;
  }
  .my-custom-button-class{
    width: 80px;
  }
  
  .my-custom-title-class{
    font-size: 26px;
    color: #000;
  }

  .custom-loader {
    width: 120px;
    height: 120px;
    color:#d04a4a;
    background:
      linear-gradient(currentColor 0 0) center/100% 15px,
      linear-gradient(currentColor 0 0) center/15px 100%,
      radial-gradient(circle 15px,currentColor 94%,#0000);
    background-repeat: no-repeat;
    -webkit-mask:radial-gradient(circle 5px,#0000 90%,#000);
    clip-path: polygon(0 30px,calc(100% - 30px) 0,100% calc(100% - 30px),30px 100%);
    animation:sh5 1.5s infinite linear;
  }
  
  @keyframes sh5 { 
    100%{transform: rotate(1turn)}
  }

  @media screen and (max-width: 810px) {

    .title{
      width: 510px;
    }
    .purpleText {
      width: 570px;
    }
    button , a{
      width: 570px;
    }
    #phrasesStayHere {
      width: 570px;
    }

  }

  @media screen and (max-width: 640px) {

    .title{
      width: 400px;
    }
    .purpleText {
      width: 400px;
    }
    button , a{
      width: 470px;
    }
    #phrasesStayHere {
      width: 470px;
    }

  }

  @media screen and (max-width: 550px) {

    .title{
      width: 330px;
    }
    .purpleText , button , a , #phrasesStayHere {
      width: 330px;
    }
    #phrasesStayHere{
      font-size: 16px;
    }
  }

  @media screen and (max-width: 465px) {
    
    .title{
      width: 280px;
    }

    .purpleText , button , a , #phrasesStayHere {
      width: 280px;
      font-size: 18px;
    }
  }

  @media screen and (max-width: 400px) {

    .title{
      width: 260px;
    }
    .purpleText , button , a  , #phrasesStayHere {
      width: 260px;
    }

  }