:root{
    --primary: #241770;
    --segundary: #ffffff;
    --ternary:#1F123D; 
}


.title-header{
  display: flex;
  color: var(--segundary);
}
h2{
  margin-left: 25px;
  font-size: 26px;
}

h2 > a{
  text-decoration: none;
  color: #fff;
}

h2 > a:hover{
  color: #ffffffbd;
}

header{
  display: flex;
  justify-content: space-between;
}

.navbar-header {
  height: 25px;
  width: 100%;
  background-color: #241770;
  position: relative; 
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.70);
  z-index: 998;
}

.navbar-toggle {
  position: absolute;
  right: 0; 
}

.navbar-header {
  width: 100%;
  padding: 20px 0;
  background-color: var(--primary);
  position: relative;
}

.navbar-toggle {
  position: absolute;
  right: 0;
  cursor: pointer;
}

.fa-times{
  display: flex;
  right: 0;
  top: 1.4rem;
  left: 15.5rem;
  position: absolute;
  font-size: 32px;
  cursor: pointer;
  color: #000;
}

.fa-times:hover{
  transition: all 1s;
  color: #0000009c;
}

.fa-bars{
  margin-top: 2px;
  font-size: 28px;
  margin-right: 30px;
  cursor: pointer;
}
.fa-bars:hover{
  transition: all 1s;
  color: #ffffffc0;
}

.container-links{
  margin-top: 5rem;
  display: grid;
}

span{
  margin-bottom: 30px;
}
#menu__links{
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  color: #000;
  font-size: 20px;
  margin-right: 8rem;
}

.navbar {
  position: fixed;
  top: 0;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  right: -300px;
  width: 300px;
  height: 100vh;
  background-color: var(--segundary);
  transition: right 0.6s ease;
  border-left: 1px solid black;
  z-index: 998;
}

.navbar.open {
  right: 0;
}







